{% extends 'base.html' %}

{% block body-atts %} id="home"{% endblock %}

{% block content %}
<div class="top">
     <div class="logo"> <span class="core_right login_box"> {% if not request.user.is_authenticated %}
          <div class="login">
               <div class="signup"><a href="" onclick="showPopup('freetrial', '/freetrial', ''); return false;">Signup</a></div>
               <form action="{% url pingpong.views.login %}" method="post">
                    <input type="image" src="{{ MEDIA_URL }}pingpong/images/btn_home_login.jpg" height="28" width="55" tabindex="3" class="core_right" />
                    <input type="password" id="loginPassword" onfocus="loginClear();" onblur="loginFormValue();" name="password" tabindex="2" class="small core_right"  />
                    <input type="text" id="loginUsername" onfocus="loginClear('username');" onblur="loginFormValue();" name="username" tabindex="1" class="small core_right" {% if previous_username %}value="{{ previous_username }}"{% endif %} />
               </form>
               {% if login_error %}
               <div id="login_error">{{ login_error }}</div>
               {% endif %} </div>
          {% else %}
          <div class="logged_in"> Welcome {{ user.username }}! &nbsp;&nbsp;<a href="{% url pingpong.views.index %}">My dashboard</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a> </div>
          {% endif %}
          <div class="core_clear"></div>
          </span> <a href="{% url pingpong.views.index %}"><img src="{{ MEDIA_URL }}pingpong/images/home_logo.gif" width="286" height="75" alt="PingPongNinja - In-Office Ping Pong Rankings" /></a> </div>
</div>
<div class="container core_privacy">
  <div class="core_content core_radius6">
  <h1>Our story</h1>
  <img src="{{ MEDIA_URL }}pingpong/images/david-martin.jpg" width="218" height="110" align="right" hspace="5" />
  <img src="{{ MEDIA_URL }}pingpong/images/james-dennes.jpg" width="218" height="110" align="right" hspace="5" />
  <p>PingPongNinja was developed and designed by <a href="http://jdennes.github.com/">James Dennes</a>, 
    and Dave Martin out of Sydney Australia, who both work on <a href="http://www.campaignmonitor.com">Campaign Monitor</a>.
  <p>The Campaign Monitor crew take their ping pong seriously and have had an internal ping pong ranking app for some time.</p>
  <p>James and Dave one day thought to themselves, "Hey, a lot of other companies would probably enjoy this!" So they created 
    a new version of their ping pong ranking app for use by anyone - PingPongNinja!</p>
  <p>PingPongNinja is powered by <a href="http://www.djangoproject.com/">Django</a> on <a href="http://code.google.com/appengine/">Google App Engine</a>.</p>
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}