	<div id="popup_add" class="popup popup_large core_radius_top8">
		<script type="text/javascript">
			$(document).ready(function () {
				$("#teamOneSlider").slider({ 
					min: 0,
					max: 30,
					slide: function(event, ui) {
						$("#teamOneScore").html(ui.value);
					}
				});
				$("#teamTwoSlider").slider({ 
					min: 0,
					max: 30,
					slide: function(event, ui) {
						$("#teamTwoScore").html(ui.value);
					}
				});
			});
		</script>
		<div class="popup_header core_radius_top8">
			<span class="core_right"><a href="" onClick="hideShade(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_add_a_game.png" width="189" height="24" alt="Add a Game" />
		</div>
		<form action="">
		<div class="popup_body core_radius_bottom6">
			<div class="popup_half core_left core_center popup_light core_radius6">
				<img src="{{ MEDIA_URL }}pingpong/images/header_select_team_one.gif" height="14" width="160" class="add_header" />
				<div class="core_clear"></div>
				{% if players %}
      	{% ifnotequal players.count 0 %}
				{% for p in players %}
				<div id="{{ p.key }}" name="{{ p.name }}" team="one" class="add_player"><a href="#">{{ p.name }}</a></div>
				{% endfor %}
				{% endifnotequal %}
				{% endif %}
				<div class="core_clear"></div>
				<img src="{{ MEDIA_URL }}pingpong/images/header_team_one_score.gif" height="11" width="106" class="add_score_header" />
				<div id="teamOneScore" class="add_score">0</div>
				<div class="add_slider">
					<div id="teamOneSlider"></div>
				</div>
			</div>
			<div class="popup_half core_right core_center popup_dark core_radius6">
				<img src="{{ MEDIA_URL }}pingpong/images/header_select_team_two.gif" height="14" width="160" class="add_header" />
				<div class="core_clear"></div>
				{% if players %}
      	{% ifnotequal players.count 0 %}
				{% for p in players %}
				<div id="{{ p.key }}" name="{{ p.name }}" team="two" class="add_player"><a href="#">{{ p.name }}</a></div>
				{% endfor %}
				{% endifnotequal %}
				{% endif %}
				<div class="core_clear"></div>
				<img src="{{ MEDIA_URL }}pingpong/images/header_team_two_score.gif" height="11" width="106" class="add_score_header" />
				<div id="teamTwoScore" class="add_score">0</div>
				<div class="add_slider">
					<div id="teamTwoSlider"></div>
				</div>
			</div>
			<div class="core_clear"></div>
			<div class="add_enter_scores"><a href="javascript:submitScores();"><img src="{{ MEDIA_URL }}pingpong/images/btn_enter_scores.jpg" width="211" height="45" /></a><span>or <a href="javascript: hideShade();">cancel</a></span></div>		
			<div class="core_clear"></div>
		</div>
		</form>
	</div>