{% extends 'base.html' %}

{% block body-atts %} id="home"{% endblock %}

{% block content %}
<div class="top">
    <div class="logo"> <span class="core_right login_box"> {% if not request.user.is_authenticated %}
        <div class="login">
            <div class="signup"><a href="" onclick="showPopup('freetrial', '/freetrial', ''); return false;">Signup</a></div>
            <form action="{% url pingpong.views.login %}" method="post">
                <input type="image" src="{{ MEDIA_URL }}pingpong/images/btn_home_login.jpg" height="28" width="55" tabindex="3" class="core_right" />
                <input type="password" id="loginPassword" onfocus="loginClear();" onblur="loginFormValue();" name="password" tabindex="2" class="small core_right"  />
                <input type="text" id="loginUsername" onfocus="loginClear('username');" onblur="loginFormValue();" name="username" tabindex="1" class="small core_right" {% if previous_username %}value="{{ previous_username }}"{% endif %} />
            </form>
            {% if login_error %}
            <div id="login_error">{{ login_error }}</div>
            {% endif %} </div>
        {% else %}
        <div class="logged_in"> Welcome {{ user.username }}! &nbsp;&nbsp;<a href="{% url pingpong.views.index %}">My dashboard</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a> </div>
        {% endif %}
        <div class="core_clear"></div>
        </span> <a href="{% url pingpong.views.index %}"><img src="{{ MEDIA_URL }}pingpong/images/home_logo.gif" width="286" height="75" alt="PingPongNinja - In-Office Ping Pong Rankings" /></a> </div>
</div>
<div class="container core_privacy">
    <div class="core_content core_radius6">
        <form action="" id="contactForm">
			<h1>We'd love to hear from you</h1>
			<p>
				<label for="feedback">Submit your feedback below:</label>
				<textarea name="feedback" id="feedback" class="contact_feedback fields required"></textarea>
			</p>
			<p>
				<label>What's your name?</label>
				<input name="name" class="pads fields required" />
			</p>
			<p>
				<label>What's your email address?</label>
				<input name="email" class="pads med fields required email" />
			</p>
			<p><input type="submit" onclick="$('#contactForm').submit(); return false;" class="btn_blue core_radius3" value="Submit feedback" /></p>
		</form>
    </div>
</div>
<script type="text/javascript">	
	$(document).ready(function() {
		$("#contactForm").validate();
		$('.fields').live('blur', function() {
			$("#contactForm").validate().element(this);
		});
		$("#contactForm").submit(function () {
			if (!$("#contactForm").valid()) {
				return false;
			}
		});
	});
	setTimeout(function() {$("#feedback").focus();}, 800);
</script>
{% include 'footer.html' %}
{% endblock %}