{% extends 'base.html' %}

{% block body-atts %} id="home"{% endblock %}

{% block content %}
{% include 'top.html' %}
<div class="headline">
	<div class="container core_privacy">
		<div class="core_content core_radius6">
			<form id="contactForm" action="{% url pingpong.views.contact %}" method="post"> 
				<h1>We'd love to hear from you</h1>
				<p>
					<label for="feedback">Submit your feedback below:</label>
					<br />
					{{ form.feedback }}
					{{ form.feedback.errors }}
				</p>
				<p>
					<label>What's your name?</label>
					<br />
					{{ form.name }}
					{{ form.name.errors }}
				</p>
				<p>
					<label>What's your email address?</label>
					<br />
					{{ form.email }}
					{{ form.email.errors }}
				</p>
				<p><input type="submit" onclick="$('#contactForm').submit(); return false;" class="btn_blue core_radius3" value="Submit feedback" /></p>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">	
	$(document).ready(function() {
		$("#contactForm").validate();
		$('.fields').live('blur', function() {
			$("#contactForm").validate().element(this);
		});
		$("#contactForm").submit(function () {
			if (!$("#contactForm").valid()) {
				return false;
			}
		});
	});
	setTimeout(function() {$("#id_feedback").focus();}, 800);
</script>
{% include 'footer.html' %}
{% endblock %}