{% extends 'base.html' %}

{% block body-atts %} id="home"{% endblock %}

{% block content %}
{% include 'top.html' %}
<div class="headline">
	<div class="container core_privacy">
			<div class="core_content core_radius6">
				<h1>Admin Dashboard - for Dave &amp; James only!</h1>
				<div class="dash-stat-value">{{ total_accounts }}</div><div class="dash-stat-title">Total Accounts</div><div class="core_clear"></div>
				<div class="dash-stat-value">{{ paying_accounts }}</div><div class="dash-stat-title">Paying Accounts</div><div class="core_clear"></div>
				<div class="dash-stat-value">{{ free_accounts }}</div><div class="dash-stat-title">Free Accounts</div><div class="core_clear"></div>
			</div>
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}