{% extends 'base.html' %}

{% block body-atts %} id="home"{% endblock %}

{% block content %}
{% include 'top.html' %}
<div class="container">
	<a href="{% url registration.views.register %}" class="core_right core_screenshot"><img src="{{ MEDIA_URL }}pingpong/images/home_screenshot.jpg" width="459" height="438" /></a>
	<div class="copy">
		<div class="intro">Track all of your singles and doubles scores and know for sure who's the best in the office.</div>
		<div class="feature unlimited">
			<h2>Unlimited players &amp; games</h2>
			<p>You can add unlimited players and list unlimited games for just <script>utmx_section("base")</script><span id="price">$8.95</span></noscript>/mo.  Cancel anytime and take your data with you.</p>
		</div>
		<div class="feature trial">
			<h2>14 day free trial</h2>
			<p>Get everything set up in only a minute or two.  Try it free for 14 days.  No credit card is required until after your free trial.</p>
		</div>
		<div class="feature hosted">
			<h2>Remotely hosted</h2>
			<p>We backup your data nightly and make sure it stays secure.  Plus, now your devs have no way to fudge their own scores.</p>
		</div>
	</div>
	<div class="core_clear"></div>
</div>
{% include 'footer.html' %}
{% endblock %}
