{% extends 'base.html' %}

{% block content %}
  <div id="message" class="core_message core_radius_bottom6" style="display: none;">Loading...</div>
  <div id="popup_container"></div>

	<!-- // Nav ////////////////////////////////////////////// -->
	<div class="nav">
		<div class="core_container">
			<span class="core_right"><a href="" onclick="showPopup('add', '/score/add', ''); return false;" class="nav_add core_radius8">Add score<span></span></a></span>
			<a href="" class="nav_singles nav_down core_radius8">Singles<span></span></a>
			<a href="" class="nav_doubles nav_up core_radius8">Doubles<span></span></a>
			<div class="core_clear"></div>
		</div>
	</div>

	{% if singles_players and doubles_players %}
	{% ifnotequal singles_players.count 0 %}
	<!-- // Singles rankings -->
	<div id="singles" class="core_rankings_div core_radius8">
		<ul class="core_top_three core_radius8">
		  {% for p in singles_players|slice:"0:3" %}
			<li class="top_players core_radius8"><span class="points">{{ p.singles_ranking_points|floatformat:"-2" }}</span>{% ifnotequal p.display_singles_last_movement '' %}<div class="core_last {% if p.singles_lost_last %}core_loss{% endif %} core_radius8">{{ p.display_singles_last_movement }}</div>{% endifnotequal %}<span class="rank core_radius8">{{ forloop.counter }}</span><span class="name">{{ p.name }}</span><div class="core_clear"></div></li>
			{% endfor %}
		</ul>
		{% for p in singles_players|slice:"3:10000" %}
		<div class="core_the_rest"><span class="points">{{ p.singles_ranking_points|floatformat:"-2" }}</span>{% ifnotequal p.display_singles_last_movement '' %}<div class="core_last {% if p.singles_lost_last %}core_loss{% endif %} core_radius8">{{ p.display_singles_last_movement }}</div>{% endifnotequal %}<div class="rank">{{ forloop.counter|add:"3" }}.</div><span class="name">{{ p.name }}</span><div class="core_clear"></div></div>
		{% endfor %}
		<div class="core_clear"></div>
	</div>

	<!-- // Doubles rankings -->
	<div id="doubles" class="core_rankings_div core_radius8" style="display: none">
		<ul class="core_top_three core_radius8">
		  {% for p in doubles_players|slice:"0:3" %}
			<li class="top_players core_radius8"><span class="points">{{ p.doubles_ranking_points|floatformat:"-2" }}</span>{% ifnotequal p.display_doubles_last_movement '' %}<div class="core_last {% if p.doubles_lost_last %}core_loss{% endif %} core_radius8">{{ p.display_doubles_last_movement }}</div>{% endifnotequal %}<span class="rank core_radius8">{{ forloop.counter }}</span><span class="name">{{ p.name }}</span><div class="core_clear"></div></li>
			{% endfor %}
		</ul>
		{% for p in doubles_players|slice:"3:10000" %}
		<div class="core_the_rest"><span class="points">{{ p.doubles_ranking_points|floatformat:"-2" }}</span>{% ifnotequal p.display_doubles_last_movement '' %}<div class="core_last {% if p.doubles_lost_last %}core_loss{% endif %} core_radius8">{{ p.display_doubles_last_movement }}</div>{% endifnotequal %}<div class="rank">{{ forloop.counter|add:"3" }}.</div><span class="name">{{ p.name }}</span><div class="core_clear"></div></div>
		{% endfor %}
		<div class="core_clear"></div>
	</div>
	{% else %}
	<h1 id="core_message">You haven't added any players yet!</h1>
	{% endifnotequal %}
	{% endif %}
	
	<!-- // Footer ///////////////////////////////// -->
	<div class="footer">
		<div class="links">
			<a href="#" onclick="showPopup('settings', '/settings', ''); return false;">Settings</a> <a href="{% url django.contrib.auth.views.logout %}">Logout</a> 
		</div>
		<a href=""><img src="{{ MEDIA_URL }}pingpong/images/footer_logo.gif" width="230" height="42" alt="PingPongApp.com" /></a>
	</div>
  <script type="text/javascript">
    var baseUrl = "";
    $(document).ready(function() {
      mode = getParameterByName('m');
      if (mode === 'doubles') {
      	$(".nav_doubles").removeClass("nav_up").addClass("nav_down");
      	$(".nav_singles").removeClass("nav_down").addClass("nav_up");
      	$("#singles").hide();
      	$("#doubles").fadeIn("slow");
      	return false;
      }
    });
  </script>
{% endblock %}
