<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>One moment...</title>
  <style type="text/css">
    .core_loading { background: #DDD; color: #666; padding-top: 250px; font-size: 34px; text-align: center; font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2000000; }
  </style>
  <script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
</head>
<body>
<div id="core_loading" class="core_loading">One moment...</div>
{{ form.render }}
<script type="text/javascript">
  $(document).ready(function () {
    $("form").submit();
  });
</script>
</body>
</html>
