	<div id="popup_stats" class="popup popup_large core_radius_top8">
		<div class="popup_header core_radius_top8">
			<span class="core_right"><a href="" onClick="hideShade(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_player_stats.gif" width="138" height="24" alt="Add a Game" />
		</div>
		<div class="popup_body core_radius_bottom6">
			<div class="popup_half core_left core_center popup_light core_radius6" style="padding-right: 15px; width: 34%;">
				<table cellpadding="0" cellspacing="0" border="0" class="stats_table">
					<tr>
						<th></th>
						<th>Singles</th>
						<th>Doubles</th>
					</tr>
					<tr class="gray">
						<td class="row_title">Games Played</td>
						<td>13</td>
						<td>27</td>
					</tr>
					<tr>
						<td class="row_title">Games Won</td>
						<td>10</td>
						<td>17</td>
					</tr>
					<tr class="gray">
						<td class="row_title">Games Lost</td>
						<td>3</td>
						<td>10</td>
					</tr>
					<tr>
						<td class="row_title">Ranking</td>
						<td>1st</td>
						<td>4th</td>
					</tr>
				</table>
			</div>
			<div class="popup_half core_right core_center popup_dark core_radius6" style="padding-right: 15px; width: 56%;">
				<table cellpadding="0" cellspacing="0" border="0" class="stats_table">
					<tr>
						<th colspan="3" style="text-align: left;">Last 20 games played</th>
					</tr>
					<tr class="gray">
						<td class="won"><span>Won</span></td>
						<td class="the_players">DaveM & JamesD (21) vs. DaveG & BenR (15)</td>
					</tr>
					<tr>
						<td class="lost"><span>Lost</span></td>
						<td class="the_players">DaveM (8) vs. BenR (11)</td>
					</tr>
					<tr class="gray">
						<td class="won"><span>Won</span></td>
						<td class="the_players">Dave M (13) vs. JamesD (11)</td>
					</tr>
					<tr>
						<td class="won"><span>Won</span></td>
						<td class="the_players">DaveM (11) vs ScottR (9)</td>
					</tr>
				</table>
			</div>
			<div class="core_clear"></div>
		</div>
	</div>