{% extends 'base.html' %}
{% block title %}Player details - {% endblock %}

{% block content %}
<h1>Player details</h1>
<a href="{% url pingpong.views.list_players %}">Back to player list</a>
<a href="{% url pingpong.views.edit_player key=object.key %}">Edit</a>
<a href="{% url pingpong.views.delete_player key=object.key %}">Delete</a>

<ul>
  <li>Name: {{ object.name }}</li>
  <li>Games played: {{ object.games_played }}</li>
  <li>Wins: {{ object.games_won }}</li>
  <li>Losses: {{ object.games_lost }}</li>
  <li>Singles ranking points: {{ object.singles_ranking_points }}</li>
  <li>Doubles ranking points: {{ object.doubles_ranking_points }}</li>
</ul>
{% endblock %}
