{% load humanize %}
{% load pingpong_tags %}
	<div id="popup_stats" class="popup popup_large core_radius_top8">
		<div class="popup_header core_radius_top8">
			<span class="core_right"><a href="" onClick="hideShade(); $('div#popup_stats').remove(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_player_stats.gif" width="138" height="24" alt="Add a Game" style="margin-top: 0;" />
			<div class="stats_name">for {{ player.name }}</div>
		</div>
		<div class="popup_body core_radius_bottom6">
			<div class="popup_half core_left core_center popup_light core_radius6" style="padding-right: 15px; width: 34%;">
				<table cellpadding="0" cellspacing="0" border="0" class="stats_table">
					<tr>
						<th></th>
						<th>Singles</th>
						<th>Doubles</th>
					</tr>
					<tr class="gray">
						<td class="row_title">Games Played</td>
						<td>{{ player.singles_games_played }}</td>
						<td>{{ player.doubles_games_played }}</td>
					</tr>
					<tr>
						<td class="row_title">Games Won</td>
						<td>{{ player.singles_games_won }}</td>
						<td>{{ player.doubles_games_won }}</td>
					</tr>
					<tr class="gray">
						<td class="row_title">Games Lost</td>
						<td>{{ player.singles_games_lost }}</td>
						<td>{{ player.doubles_games_lost }}</td>
					</tr>
					<tr>
						<td class="row_title">Ranking</td>
						<td>{{ singles_ranking|ordinal }}</td>
						<td>{{ doubles_ranking|ordinal }}</td>
					</tr>
				</table>
			</div>
			<div class="popup_half core_right core_center popup_dark core_radius6" style="padding-right: 15px; width: 56%;">
				<table cellpadding="0" cellspacing="0" border="0" class="stats_table">
					<tr>
						<th colspan="3" style="text-align: left;">Last 20 games played</th>
					</tr>
					{% if games %}
					{% for g in games %}
					<tr{% cycle ' class="gray"' '' %}>
						<td class="{% if g.won %}won{% else %}lost{% endif %}"><span>{% if g.won %}Won{% else %}Lost{% endif %}</span></td>
						<td class="the_players" title="Played {{ g.date_played|timesince }} ago">
						  {{ g.t1p1.name }} {% if g.t1p2 %} &amp; {{ g.t1p2.name }} {% endif %} ({{ g.team1_points|floatformat:0 }}) vs. 
						  {{ g.t2p1.name }} {% if g.t2p2 %} &amp; {{ g.t2p2.name }} {% endif %} ({{ g.team2_points|floatformat:0 }})</td>
					</tr>
					{% endfor %}
					{% else %}
					<tr>
						<td colspan="3" style="text-align: left;">{{ player.name }} hasn't played any games yet.</th>
					</tr>
        	{% endif %}
				</table>
			</div>
			<div class="core_clear"></div>
		</div>
	</div>
	<script type="text/javascript">
	  $("div#core_shade").click(function() {
	    $('div#popup_stats').remove();
	  });
	</script>
