{% extends 'base.html' %}
{% block title %}Player details - {% endblock %}

{% block content %}
<h1>Player details</h1>
<a href="{% url pingpong.views.list_players %}">Back to player list</a>
<a href="{% url pingpong.views.edit_player key=object.key %}">Edit</a>
<a href="{% url pingpong.views.delete_player key=object.key %}">Delete</a>

<ul>
  <li>Name: {{ object.name }}</li>
  <li>Singles games played: {{ object.singles_games_played }}</li>
  <li>Singles Wins: {{ object.singles_games_won }}</li>
  <li>Singles Losses: {{ object.singles_games_lost }}</li>
  <li>Singles ranking points: {{ object.singles_ranking_points }}</li>
  <li>Doubles games played: {{ object.doubles_games_played }}</li>
  <li>Doubles Wins: {{ object.doubles_games_won }}</li>
  <li>Doubles Losses: {{ object.doubles_games_lost }}</li>
  <li>Doubles ranking points: {{ object.doubles_ranking_points }}</li>
</ul>
{% endblock %}
