	<div id="popup_settings" class="popup popup_large core_radius_top8">
		<div class="popup_header core_radius_top8">
			<span class="core_right"><a href="" onClick="hideShade(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_settings.gif" width="97" height="22" alt="Settings" />
		</div>
		<form action="">
		<div class="popup_body core_radius_bottom6">
			<div class="settings popup_container core_radius6">
				<span class="core_right"><a id="add_new_players" href="" onclick="settingsAdd(); return false;" style="color: #006699">Add new players</a></span>
				<div id="settings_add" style="display: none;">
					<h3>Add Players</h3>
					<p class="core_text_med mb8 core_light" style="margin-top: 8px; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">Add new players below entering one player name per line.</p>
					<div class="mb_extra"></div>
					<div class="signup_players_box">
						<div id="signup_players_example" class="signup_players_example">David M<br />James D</div>
						<textarea name="players" id="players" class="signup_players"></textarea>
					</div>
					<div class="mb_supa"></div>
				</div>
				<h3>Edit Players</h3>
				<div class="mb_extra"></div>
				<table border="0" cellpadding="0" cellspacing="0" class="settings_table">
					<tr>
						<th>Names</th>
						<th class="right">Actions</th>
					</tr>
					{% for p in players %}
					<tr bgcolor="#{% cycle 'FFF' 'F5F5F1' %}" onmouseover="this.style.backgroundColor='#E6F4FB';" onmouseout="this.style.backgroundColor='#{% cycle 'FFF' 'F5F5F1' %}';">
						<td class="sell_desc">
							<div id="{{ p.key }}_name" onclick="settingsEdit('{{ p.key }}');">{{ p.name }}</div>
							<div id="{{ p.key }}_input" style="display: none;"><input type="text" id="{{ p.key }}" value="{{ p.name }}" class="pads" style="margin-bottom: 0;" /></div>
						</td>
						<td class='right'><a href='' id="{{ p.key }}_edit" onclick="settingsEdit('{{ p.key }}'); return false;">edit</a> <div class="core_vline"></div> <a href="" onclick="deletePlayer('{{ p.name }}', '{{ p.key }}'); return false;">delete</a></td>
					</tr>
					{% endfor %}
				</table>
				<div class="mb_supa"></div>
				<h3>Account</h3>
				<div class="mb_extra"></div>

				<label for="email">Email address</label><br />
				<input type="text" name="email" id="email" class="core_left pads med" value="{{ email }}" />
				<div id="email_error" class="core_mb_extra core_error"></div>
				<div class="core_clear"></div>
				<div class="mb"></div>
				
				<label for="password">Password</label><br />
				<a href="" style="color: #006699;">Click here to reset your password</a>
				<div class="core_clear"></div>
				<div class="mb"></div>
				
			</div>
			<div class="core_clear"></div>
			<div class="add_enter_scores"><a href="javascript:submitSettings();"><img src="{{ MEDIA_URL }}pingpong/images/btn_save_settings.jpg" width="166" height="45" /></a><span>or <a href="javascript: hideShade();">cancel</a></span></div>		
			<div class="core_clear"></div>
		</div>
		</form>
	</div>