	<div id="popup_signup" class="popup popup_medlrg core_radius_top6">
		<div class="popup_header core_radius_top6">
			<span class="core_right"><a href="" onClick="hideShade(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_request_an_invite.gif" width="201" height="22" />
		</div>
		<div class="popup_body core_radius_bottom6">
			<div class="popup_container popup_half_of core_radius6 core_left">
				
				<h3>Signup to receive an invite,</h3>
				<div class="mb_extra"></div>
				
				<p>Signing up for PingPongApp is by invite only for the time-being.  Don't worry, we'll be adding new accounts shortly.  Add your email below and we'll notify you when we are ready.</p> 
				<div class="mb_extra"></div>
				
				<form action="http://pingpongapp.createsend.com/t/r/s/hutrdy/" method="post">
					<label for="name">What's your name?</label>
					<input type="text" name="cm-name" id="name" class="pads" />
					<div class="mb_extra"></div>
					<label for="hutrdy-hutrdy">What's your email address?</label>
					<input type="text" name="cm-hutrdy-hutrdy" id="hutrdy-hutrdy"  class="pads med" />
					<div class="mb_extra"></div>
					<p><input type="submit" class="btn_blue core_radius3" value="I'd like an invite" /></p>
				</form>

			</div>
			<div class="core_box_side">
				<h3>What is Ping Pong App?</h3>
				<p>It's an easy way for you to track your ping pong rankings at work or with your friends.</p>
				
				<h3>How much does it cost?</h3>
				<ul>
					<li>Try it 14 days for free.  No credit card is required.</li>
					<li>Then pay <strong>$8.95/mo</strong> (unlimited games and players)</li>
					<li>Cancel anytime with zero hassle.</li>
				</ul>
			</div>
			<div class="core_clear"></div>
		</div>
	</div>