	<div class="top">
		<div class="container logo">
			{% if not request.user.is_authenticated %}
			<div class="login">
				<form action="{% url pingpong.views.login %}" method="post">
					<div class="errors">
						{% if login_error %}
							{{ login_error }}
						{% else %}
							&nbsp;
						{% endif %}
					</div>
					<span class="username_placeholder">Username</span>
					<input id="login_button" class="login_button" type="image" tabindex="3" src="{{ MEDIA_URL }}pingpong/images/home_login_off.jpg" />
					<input id="passw" class="login_fields" name="password" tabindex="2" type="password" value="Password" />
					<input id="uname" class="login_fields" name="username" tabindex="1" type="text" {% if previous_username %}value="{{ previous_username }}"{% endif %} />
				</form>
			</div>
			{% else %}
    	<div class="logged_in core_right"> Welcome {{ user.username }}! &nbsp;&nbsp;<a href="{% url pingpong.views.index %}">My dashboard</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a> </div>
    	{% endif %}
			<a href="{% url pingpong.views.index %}"><img src="{{ MEDIA_URL }}pingpong/images/home_logo.png" width="282" height="48" alt="PingPongNinja - In-Office Ping Pong Rankings" style="margin-top: 23px;" /></a>
		</div>
	</div>