	<div id="popup_upgrade" class="popup core_radius_top8">
		<div class="popup_header core_radius_top8">
			<span class="core_right"><a href="" onClick="hideShade(); return false;" class="popup_close"><strong>close</strong></a></span>
			<img src="{{ MEDIA_URL }}pingpong/images/header_upgrade_your_account.gif" width="261" height="24" alt="Settings" />
		</div>
		<form action="">
		<div class="popup_body core_radius_bottom6">
			<div class="popup_container core_radius6">
				<span class="core_right"><a href="" class="btn_blue core_radius3 iea" onClick="upgrade('pro'); return false;">Upgrade</a></span>
				<div class="upgrade_price">${{ price }}/mo</div>
				<ul class="upgrade_list">
					<li>Add unlimited players</li>
					<li>List an unlimited number of games</li>
					<li><strong>Cancel anytime</strong>.  Payment made through PayPal.com.</li>
				</ul>
				<div class="core_clear"></div>
			</div>
		</div>
		</form>
	</div>