/* =========================================
    Reset
   ========================================= */
html { height: 100%; }
html.core_fixed_nav { overflow: hidden; }
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { background: url(images/core_bg.jpg) #363636; font-family: Georgia, Arial, Helvetica, sans-serif; font-size:12px; color: #FFF; line-height:1.5em; height: 100%; }
a { color: #FFF; }
a:hover { text-decoration: none; } 
th { font-style: inherit; font-weight: inherit; }
fieldset, img { border: 0; }
input, textarea { font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #666; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px }
input.pads { padding: 3px 5px; margin: 0 10px 4px 0; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px }
input[type=text]:focus, input[type=password]:focus { outline: none; border: 2px solid #0099CC; }
input.fat { padding: 3px 5px; margin: 0 10px 4px 0; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px }
input.med { width: 200px; }
input.required { border: 1px solid #993300; }
label { font-size: 13px; font-weight: bold; }
/* label { color: #333; display: block; font-weight: bold; margin: 0 0 5px 0; } */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
li { list-style: none; }
td { vertical-align: top; } 
/* =========================================
    ADD SCORES POPUP
   ========================================= */
.add_container { position: relative; }
.add_enter_scores { margin: 23px auto 0 auto; text-align: center; width: 300px; }
.add_enter_scores img { float: left; margin-right: 10px; }
.add_enter_scores span { float: left; margin-top: 12px; color: #999; }
.add_enter_scores span a, .add_enter_scores span a:hover { color: #999; }
.add_exact { position: absolute; right: 25px; top: 9px; }
.add_header { margin-bottom: 13px; }
.add_player { float: left; padding: 5px 7px; cursor: pointer; font-size: 11px; margin: 0 11px 6px 0; font-weight: bold; width: 105px; text-align: left; border: 1px solid #DFDCD9; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F1F0ED)); background-image: -moz-linear-gradient(0% 100% 90deg,#F1F0ED, #FFF); -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
.add_player.selected, .add_player:hover { border: 1px solid #039BCE;  cursor: default; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#03AFE9), to(#0280AB)); background-image: -moz-linear-gradient(0% 100% 90deg,#0280AB, #03AFE9); }
.add_player.selected a, .add_player:hover a { color: #FFF; cursor: default; }
.add_player a { color: #8A8A8A; text-decoration: none; }
.add_preset { color: #8A8A8A; display: block; font-size: 14px !important; padding: 4px 7px 5px 7px; cursor: pointer; font-size: 11px; margin: 0 11px 6px 0; font-weight: bold; text-align: left; border: 1px solid #DFDCD9; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#F1F0ED)); background-image: -moz-linear-gradient(0% 100% 90deg,#F1F0ED, #FFF); -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
.add_score { font-size: 100px; font-family: Arial, Helvetica, sans-serif; line-height: 80px; font-weight: bold; color: #666; text-shadow: 2px 2px 2px #999; }
.add_score_header { margin: 13px 0; }
.add_slider { padding: 16px 27px 10px 10px; }
/* =========================================
    BUTTONS
   ========================================= */
.btn_blue { background: #00A9E0; font-family: Arial, Helvetica, sans-serif; border: 1px solid #0099CC; font-size: 13px; padding: 5px 14px 6px 14px; color: #FFF; font-weight: bold; text-decoration: none; cursor: pointer; }
.btn_blue:hover { background: #008CBB; border: 1px solid #008CBB; }
.btn_signup { border: 1px solid #313131; font-size: 20px; font-weight: bold; outline-style: none; outline-width: 0; padding: 10px 15px; margin: 20px 10px 0 0; text-decoration: none; margin-right: 0 !important; position: relative; text-shadow: 1px 1px 3px #026788; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#03AFE9), to(#027EA8)); background-image: -moz-linear-gradient(0% 100% 90deg,#027EA8, #03AFE9); color: #FFF; }
.btn_signup:hover { border: 1px solid #039FD4; padding: 8px 14px 9qpx 14px !important; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#027EA8), to(#03AFE9)) !important; background-image: -moz-linear-gradient(0% 100% 90deg,#03AFE9, #027EA8) !important;   }
.btn_signup span { display:block; position:absolute; left:12px; top:7px; z-index:1; width:109px; height:32px;  margin:0; padding:0; background:url("images/home_signup.jpg") top left no-repeat; }
.btn_signup:hover span { background:url("images/home_signup_up.jpg") top left no-repeat; }
.btn_signup_box { float: right; margin-top: 17px; }
/* =========================================
    CONTACT US
   ========================================= */
.contact_feedback { width: 80%; height: 200px; padding: 3px; }
/* =========================================
    CORE
   ========================================= */
.core_box_side { width: 300px; float: right; margin-top: 13px; }
.core_box_side h3 { font-size: 20px; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; color: #444; }
.core_box_side img { display: block; }
.core_box_side li { list-style-type: square; margin-left: 16px; }
.core_box_side p, .core_box_side ul { font-size: 95%; margin: 13px 0 23px 0; }
.core_center { text-align: center; }
.core_clear { clear: both; }
.core_container { margin: 0 auto; text-align: left; min-width: 550px; height: 69px; padding: 25px 35px 25px 39px; }
.core_content { background: #FFF; padding: 23px; }
.core_error { color: #A91C07; font-style: italic; }
.core_last { float: right; padding: 10px 4px 17px 0; text-align: center; width: 75px; margin: 3px 23px 0 0; color: #8DC754; text-shadow: 2px 2px 3px #1C1C1C; border-top: 2px solid #212121; border-left: 2px solid #212121; border-bottom: 1px solid #424242; border-right: 1px solid #424242; -moz-box-shadow: #1B1B1B 2px 2px 2px 0 inset; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#2B2B2B)); background-image: -moz-linear-gradient(0% 100% 90deg,#2B2B2B, #303030); }
.core_left { float: left; }
.core_light { color: #999; } 
.core_loss { color: #CCC; }
.core_message { background: #F3F5B4; color: #000; font-size: 13px; font-weight: bold; padding: 6px 14px 8px 14px; position: fixed; top: 0; z-index: 100000; }
.core_privacy { color: #666; line-height: 20px; }
.core_privacy a { text-decoration: underline; color: #006699; }
.core_privacy h1 { color: #333; margin-bottom: 23px; }
.core_privacy h3 { font-size: 17px; font-weight: bold; margin: 10px 0; color: #666; }
.core_privacy li { font-size: 13px !important; list-style: disc; margin: 0 0 5px 20px; color: #666; }
.core_privacy p { font-size: 13px !important; margin-bottom: 14px !important; color: #666 !important; }
.core_radius { -moz-border-radius:1px; border-radius:1px; -webkit-border-radius:1px; }
.core_radius3 { -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
.core_radius6 { -moz-border-radius:6px; border-radius:6px; -webkit-border-radius:6px; }
.core_radius8 { -moz-border-radius:8px; border-radius:8px; -webkit-border-radius:8px; }
.core_radius_bottom3 { -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; border-bottom-left-radius:3px; border-bottom-right-radius:3px; -webkit-border-radius-bottomleft:3px; -webkit-border-radius-bottomright:3px; }
.core_radius_bottom6 { -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px; border-bottom-left-radius:6px; border-bottom-right-radius:6px; -webkit-border-radius-bottomleft:6px; -webkit-border-radius-bottomright:6px; }
.core_radius_bottom8 { -moz-border-radius-bottomleft:8px; -moz-border-radius-bottomright:8px; border-bottom-left-radius:8px; border-bottom-right-radius:8px; -webkit-border-radius-bottomleft:8px; -webkit-border-radius-bottomright:8px; }
.core_radius_top3 { -moz-border-radius-topleft:3px; -moz-border-radius-topright:3px; border-top-left-radius:3px; border-top-right-radius:3px; -webkit-border-radius-topleft:3px; -webkit-border-radius-topright:3px; }
.core_radius_top6 { -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px; border-top-left-radius:6px; border-top-right-radius:6px; -webkit-border-radius-topleft:6px; -webkit-border-radius-topright:6px; -khtml-border-radius-topleft: 6px; -khtml-border-radius-topright: 6px; }
.core_radius_top8 { -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-top-left-radius:8px; border-top-right-radius:8px; -webkit-border-radius-topleft:8px; -webkit-border-radius-topright:8px; -khtml-border-radius-topleft: 8px; -khtml-border-radius-topright: 8px; }
.core_rankings_div { margin: 35px 0 35px 35px; }
.core_right { float: right; }
.core_shade { position: absolute; background: #101314; opacity: 0.9; -moz-opacity: 0.9; -khtml-opacity: 0.9; filter: alpha(opacity=90); width: 100%; height: 100%; top: 0; left: 0; z-index: 1000; }
.core_text_med { font-size: 90%; font-weight: normal; }
.core_the_rest { position: relative; float: left; min-width: 300px; width: 100%; cursor: pointer; margin: 19px 35px 0 0; padding: 4px 8px 7px 8px; font-size: 22px; text-shadow: 2px 2px 3px #141414; color: #DDD; border-bottom: 3px solid #181818; border-right: 3px solid #181818; border-top: 3px solid #2D2D2D; border-left: 3px solid #2D2D2D; height: 59px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#282828), to(#1B1B1B)); background-image: -moz-linear-gradient(0% 100% 90deg,#1B1B1B, #282828); -moz-border-radius:8px; border-radius:8px; -webkit-border-radius:8px; cu }
.core_the_rest .core_last { margin-top: 7px; position: absolute; right: 95px; }
.core_the_rest .name { float: left; margin: 23px 0 0 0; padding-bottom: 8px; overflow: hidden; width: 210px; }
.core_the_rest .points { float: right; font-weight: bold; margin: 21px 23px 0 0; }
.core_the_rest .rank { width: 30px; float: left; margin: 21px 0 0 23px; }
.core_the_rest td { width: 33%; }
.core_top_three { padding: 23px; min-width: 485px; margin: 0 39px 16px 0; font-size: 26px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#424242), to(#0F0F0F)); background-image: -moz-linear-gradient(0% 100% 90deg,#0F0F0F, #424242); }
.core_top_three li { padding: 18px 20px; min-width: 300px; margin-bottom: 23px; cursor: pointer; text-shadow: 2px 2px 3px #1C1C1C; border-top: 2px solid #2C2C2C; border-left: 2px solid #2C2C2C; border-bottom: 1px solid #424242; border-right: 1px solid #424242; -moz-box-shadow: #1B1B1B 2px 2px 2px 0 inset; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#303030), to(#2B2B2B)); background-image: -moz-linear-gradient(0% 100% 90deg,#2B2B2B, #303030); }
.core_top_three li .name { float: left; font-size: 33px; font-weight: bold; margin: 19px 0 0 46px; }
.core_top_three li .points { float: right; font-size: 33px; font-weight: bold; margin: 15px 0 0 0; }
.core_top_three li .rank { float: left; background: #7C7C7C; border-top: 2px solid #878787; border-left: 2px solid #878787; border-bottom: 2px solid #6F6F6F; border-right: 2px solid #6F6F6F; height: 26px; padding: 12px 16px; font-weight: bold; font-size: 28px; color: #FFF; text-shadow: 2px 2px 3px #616161; }
.core_top_three li:nth-child(1n+2) { background-image: none; border: none; -moz-box-shadow: none; margin-bottom: 13px; }
.core_top_three li:nth-child(1n+2) .rank { background: #595959; color: #CCC; border-top: 2px solid #676767; border-left: 2px solid #676767; border-bottom: 2px solid #505050; border-right: 2px solid #505050; text-shadow: 2px 2px 3px #515151; }
.core_top_three li:nth-child(2) { border-bottom: 1px solid #373737; text-shadow: 2px 2px 3px #1A1A1A; padding: 0 20px 22px 20px; }
.core_top_three li:nth-child(3) { padding: 10px 20px 0 20px; text-shadow: 2px 2px 3px #0C0C0C; margin: 0; }
.core_vline { border-right: 1px solid #DDD; margin: 0 7px 0 5px; width: 1px; display: inline; }
h1#core_message { font-size: 33px; margin: 39px; }
/* =========================================
    FOOTER
   ========================================= */
.footer { background: url(images/footer_bg.jpg) repeat-x #333; padding: 25px 39px; }
.footer a { color: #FFF; font-size: 20px; font-weight: bold; }
.footer a:hover { color: #A0A0A0; }
/* =========================================
    HOME
   ========================================= */
body#home { background: #2E2E2E; font-family: Helvetica, Arial, sans-serif; }
body#home h1 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 27px; margin-top: 8px; }
body#home h2 { font-size: 16px; font-weight: bold; margin: 0; padding: 0; }
body#home label { display: block; font-weight: bold; }
body#home p { color: #ACACAC; font-size: 12px; line-height: 20px; }
body#home .cancel { color: #ACACAC; display: block; margin: 13px 0 43px 0; font-size: 12px; font-family: Helvetica, Arial, sans-serif; }
body#home .container { width: 812px; margin: 0 auto; padding: 43px 0; }
body#home .copy { width: 314px; float: left; line-height: 26px; margin-top: -4px; }
body#home .feature { margin-top: 33px; }
body#home .hosted { background: url(images/home_icon_hosted.jpg) no-repeat; padding-left: 80px; }
body#home .intro { font-size: 16px; }
body#home .links { float: left; }
body#home .links a { margin-right: 13px; }
body#home .login { float: right; margin-top: 3px; }
body#home .login .small { font-size: 13px; padding: 4px; width: 85px; margin-right: 3px; }
html>/**/body#home .login .small, x:-moz-any-link, x:default { padding: 5px 4px; }
body#home .logo { margin: 0 auto; width: 812px; padding: 23px 0 21px 0; }
body#home .popup li, body#home .popup p { color: #666; font-size: 12px; }
body#home .signup { color: #888; margin: 0 0 8px 0; font-size: 14px; }
body#home .signup_box { float: right; margin-top: 17px; }
body#home .top { background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B3B3B), to(#141414)); background-image: -moz-linear-gradient(0% 100% 90deg,#141414, #3b3b3b); }
body#home .trial { background: url(images/home_icon_trial.jpg) no-repeat; padding-left: 80px; }
body#home .unlimited { background: url(images/home_icon_unlimited.jpg) no-repeat; padding-left: 80px; }
body#home .logged_in { font-size: 14px; }
body#home .terms_of_use { font-size: 14px; }
/* =========================================
    Loader
   ========================================= */
#loading { background: url(images/core_bg.jpg) #363636; height: 100%; width: 100%; position: absolute; z-index: 1000000; }
#loadingZone{ width:310px; margin: 10px 0 0 40px; }
#loadingBar{ border:1px solid #555; background: #FFF; height:6px; text-align:left; line-height:0; margin:0; padding:1px; overflow:hidden; }
#progressBar{ height:6px; line-height:0; margin:0; padding:0; background:#03AEE7; width:0%; }
#loadingSms{ color: #FFF; font-size: 18px; font-weight: bold; display: block; padding:10px 2px; }
/* =========================================
    MARGINS & PADDING
   ========================================= */
.mb { margin-bottom: 19px; }
.mb8 { margin-bottom: 8px; }
.mb_extra { margin-bottom: 23px; }
.mb_supa { margin-bottom: 46px; }
.mt11 { margin-top: 11px; }
/* =========================================
    NAV
   ========================================= */
.nav { height: 69px; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3B3B3B), to(#141414)); background-image: -moz-linear-gradient(0% 100% 90deg,#141414, #3b3b3b); }
.nav_container { margin: 0 auto; text-align: center; min-width: 550px; height: 69px; padding: 14px 35px 25px 39px; }
.nav a { font-size: 20px; font-weight: bold; outline-style: none; outline-width: 0; padding: 10px 15px; margin: 0 10px 0 0; text-decoration: none; }
.nav_add { border: 1px solid #039FD4; margin-right: 0 !important; position: relative; text-shadow: 1px 1px 3px #026788; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#03AFE9), to(#027EA8)); background-image: -moz-linear-gradient(0% 100% 90deg,#027EA8, #03AFE9); color: #FFF; }
.nav_add:hover { border: 1px solid #039FD4; padding: 8px 14px 9qpx 14px !important; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#027EA8), to(#03AFE9)) !important; background-image: -moz-linear-gradient(0% 100% 90deg,#03AFE9, #027EA8) !important;   }
.nav_add span { display:block; position:absolute; left:12px; top:7px; z-index:1; width:109px; height:32px;  margin:0; padding:0; }
.nav_doubles span { display:block; position:absolute; left:12px; top:7px; z-index:1; width:90px; height:32px;  margin:0; padding:0; }
.nav_down, .nav_up:hover { position: relative;  padding: 10px 14px !important; cursor:default; border-top: 1px solid #1B1B1B; border-left: 1px solid #1B1B1B; border-bottom: 1px solid #313131; border-right: 1px solid #313131; color: #A0A0A0; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#2A2A2A)); background-image: -moz-linear-gradient(0% 100% 90deg,#2A2A2A, #222222); -moz-box-shadow: #1B1B1B 2px 2px 2px 0 inset; text-shadow: 1px 1px 3px #1B1B1B; }
.nav_links { margin: 5px 0 0 5px; padding: 5px 0 0 5px; border-left: 1px solid #444; }
.nav a.links { text-decoration: none; margin: 10px 0 0 23px; padding: 0; font-size: 18px; }
.nav_singles span { display:block; position:absolute; left:12px; top:7px; z-index:1; width:83px; height:32px;  margin:0; padding:0; }
.nav_trial { text-align: right; margin: 11px 0 0 0; font-size: 16px; color: #666; }
.nav_trial a { margin: 0; padding: 0; font-size: 16px; text-decoration: underline; }
.nav_up { color: #FFF; position: relative; }
.nav_up:hover { cursor: pointer !important; }
/* =========================================
    POPUPS
   ========================================= */
.popup { text-align: center; margin: 0 auto; position: absolute; padding-top: 50px; z-index: 1500; width: 505px; }
.popup_crop { width: 696px !important; }
.popup_dark { background: #EFEFEF !important; }
.popup_domain { background: #E1E1E1; color: #555; padding: 2px 10px 3px 10px; margin: 0 0 0 -12px; border: 1px solid #AABABB; }
.popup_body { background: url("images/popup_bg.jpg") #F1F0ED; padding: 23px; text-align: left; }
.popup_cancel { padding: 5px 5px 5px 0; }
.popup_close, .popup_close:hover { color: #FFF; font-size: 110%; line-height: 40px; margin-right: 5px; padding: 5px; }
.popup_container { background: #FFF; border: 1px solid #DFDCD9; padding: 23px; color: #333; }
.popup_container h3 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 180%; font-weight: normal; }
.popup_half { background: #FFF; border: 1px solid #DFDCD9; padding: 13px 0 13px 15px; width: 47%; }
.popup_half_of { width: 48%; }
.popup_header { height: 62px; background: url("images/popup_header_bg.jpg") repeat-x #6A625C; text-align: left; padding: 23px 23px 0 23px; }
.popup_header img { margin-top: 7px; }
.popup_light { background: #F7F7F7 !important; }
.popup_links { line-height: 24px; margin-top: 23px; }
.popup_large { width: 895px !important; }
.popup_med { width: 505px !important; }
.popup_medlrg { width: 805px !important; }
.popup_preview { background: #FFF; padding: 23px; width: 421px; }
.popup_preview img { margin-top: 12px; }
.popup_preview .popup_close { color: #006699; line-height: 14px; font-size: 140%; margin-bottom: 30px; }
.popup_terms label { display: inline !important; }
/* =========================================
    SETTINGS
   ========================================= */
.settings_add { padding: 5px; color: #006699; }
.settings table { border-top: 1px solid #DDD; border-left: 1px solid #DDD; width: 100%; }
.settings td { padding: 3px 10px; border-bottom: 1px solid #DBDBDB; border-right: 1px solid #DBDBDB; text-align: left; }
.settings td a { color: #006699; padding: 5px; }
.settings td.right { text-align: right; }
.settings th { background: url("images/table_header_bg.jpg") repeat-x #E3E3DC; vertical-align: middle; padding: 7px 10px 5px 10px; font-weight: bold; border-bottom: 1px solid #DBDBDB; }
.settings th.right { text-align: right; }
/* =========================================
    SIGNUP
   ========================================= */
.signup_players { width: 100%; height: 100px; }
.signup_players_box { position: relative; }
.signup_players_example { font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #999; position: absolute; top: 0; left: 2px; z-index: 1000; }
/* =========================================
    STATS
   ========================================= */
.stats_name { font-size: 13px; margin-top: -7px; padding-top: 3px; color: #999; }
.stats_table { width: 100%; color: #666; font-size: 12px; }
.stats_table td { padding: 6px 6px; }
.stats_table td.lost, .stats_table td.won { text-align: left; padding: 10px 6px; width: 50px; }
.stats_table td.lost span { background: #BBB; padding: 5px 14px; color: #FFF; font-weight: bold; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
.stats_table td.the_players { padding: 10px 6px; text-align: left; font-family: Arial, Helvetica, sans-serif; }
.stats_table td.won span { background: #666; padding: 5px 12px; color: #FFF; font-weight: bold; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
.stats_table th { font-size: 16px; color: #333; text-align: center; padding: 10px 6px; font-weight: bold; }
.stats_table tr.gray td { background: #E7E7E7; }
.stats_table td.row_title { font-weight: bold; text-align: left; padding: 10px 6px; }
/* =========================================
    UPGRADE
   ========================================= */
.upgrade_list { margin: 13px 0 0 15px; }
.upgrade_list li { list-style: square; line-height: 22px; font-family: Arial, Helvetica, sans-serif; }
.upgrade_price { font-size: 170%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }